li {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

a {
    
    text-decoration: none;
    background-image: linear-gradient(red, blue);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

a:hover {
    background-size: 100% 2px;
    color: red;
    padding-bottom: 5px;
}

a:before{
left: 7px;
}

ul {
    width: 80vh;
}

.nav {
    display: flex;
    justify-content: center;
    background-color: brown;
}