.cart-wrapper {
    padding: 20px;
    border: 1px solid red;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}


.button-section {
    display: flex;
    gap: 20px;
}

.stop{
    display: none;
}